DATABASE_URL=sqlite://guess.db
OSU_CLIENT_ID=12345
OSU_CLIENT_SECRET=AbCdEfGhIjKlMnOpQrStUvWxYz0123456789
OSU_REDIRECT_URI=http://localhost:5173/api/auth/callback
FRONTEND_URL=http://localhost:5173/
JWT_SECRET=rank-guessing
GUESSER_ID=9211305
ADMIN_ID=9211305